body{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	border-bottom: 2px solid #EEF0F3;
	padding: 10px 0;
}
.container {
	overflow: hidden;
	width: 90%;
	/*border: solid 1px;*/
	margin: 0 auto;
}

.logo {
	float: left;
	width: 10%;
}
.logo a{

}
.logo a img{
width: 100%;
}

.menue {
	float: right;
	width: 40%;
}
.menue ul{
	list-style: none;
	float: right;
}
.menue ul li{
	float: left;
}
.menue ul li a{
	text-decoration: none;
    margin: 0px 15px;
    display: inline-block;
    font-size: 18px;
    color: #0F2656;
    text-transform: capitalize;
}
.menue ul li a:hover{
	color: #008AFF;
}
.menue ul li:last-child a{
	margin-right: 0;
}
/*header end*/